@model IEnumerable<SongModel>


<div class="row col-md-12">
    <div class="border-top"></div>
    <p class="mb-4">Most Viewed Songs</p>

    @foreach (var song in Model)
    {
        if (song.SongView > 10)
        {
            <div class="row mb-5">

                <div class="col-md-6">
                    <a asp-route="songDetails" asp-route-id="@song.Id">
                        <img src="@(string.IsNullOrEmpty(song.CoverImageUrl)? "/images/unsplash.jpg": song.CoverImageUrl) " class="img-fluid" style="width:168px; height:94px;" />
                    </a>
                </div>
                <div class="col-md-6">
                    <p><a asp-route="songDetails" asp-route-id="@song.Id">@song?.Title</a></p>
                    <a asp-route="getUserAccount" asp-route-accountUserId="@((song.User == null) ? "null" : song.User.Id)">
                        <span>@(string.IsNullOrEmpty(song?.User?.FirstName + song?.User?.LastName)? "No username": (song?.User?.FirstName + " " + song?.User?.LastName)) </span>
                    </a>
                    <div id="bottom" class="small">
                        <span>@((song.SongView > 0) ? song.SongView.ToString() + " Views": "No View.")</span>

                        @{
                            var displayDateTime = "";
                            if (song.CreatedOn.HasValue)
                            {
                                var time = DateTime.Now - song.CreatedOn.Value;



                                if (time.TotalSeconds < 60)
                                {
                                    displayDateTime = Convert.ToInt32(time.TotalSeconds).ToString() + " Seconds ago";
                                }
                                else
                                {
                                    if (time.TotalMinutes < 60)
                                    {
                                        displayDateTime = Convert.ToInt32(time.TotalMinutes).ToString() + " Minutes ago";
                                    }
                                    else
                                    {
                                        if (time.TotalHours < 24)
                                        {
                                            displayDateTime = Convert.ToInt32(time.TotalHours).ToString() + " Hours ago";
                                        }
                                        else
                                        {
                                            if (time.TotalDays < 29)
                                            {
                                                displayDateTime = Convert.ToInt32(time.TotalDays).ToString() + " Days ago";
                                            }
                                            else
                                            {
                                                if (time.TotalDays > 28 && time.TotalDays < 32)
                                                {
                                                    displayDateTime = "1 Month ago";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            <span> @displayDateTime</span>
                        }
                    </div>
                </div>
            </div>
        }
    }

</div>