@*@model SongModel*@
@model IEnumerable<SongModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var song in Model)
{
    
        <div class="card mb-md-5 shadow-sm mx-md-2 border bg-light rounded"  >
            <a asp-route="songDetails" asp-route-id="@song.Id">
                <img src="@(string.IsNullOrEmpty(song.CoverImageUrl) ? "/images/unsplash.jpg" : song.CoverImageUrl)" class="img-fluid p-0 border-0" style="width:340px; height:145px; " />
            </a>
            <div class="card-body p-md-2">
                <div id="details" class="row col-md-12">
                    <div class="col-md-2 p-1 pt-2 align-items-center">
                        <img src="@(string.IsNullOrEmpty(song?.User?.UserImageUrl) ? "/images/Avatar.png" : song.User.UserImageUrl)" style="border-radius:50%; width: 36px; height: 36px;" class="img-fluid border-0" />
                    </div>
                    <div class="col-md-10 p-md-2">
                        <p class="card-title text-capitalize pb-2 m-0"><a asp-route="songDetails" asp-route-id="@song.Id"><span class="short">@(string.IsNullOrEmpty(song.Title) ? "Name is not available" : song.Title)</span></a></p>
                        <span class="card-text text-muted m-0 text-capitalize d-block">@(string.IsNullOrEmpty(song?.User?.FirstName + song?.User?.LastName)? "No username": (song?.User?.FirstName + " " + song?.User?.LastName)) </span>
                        <span class="card-text text-muted pr-md-2 ">@((song.SongView > 0) ? song.SongView.ToString() + " Views": "No View.")</span>
                        @{ 
                            var displayDateTime = "";
                            if (song.CreatedOn.HasValue)
                            {
                                var time =  DateTime.Now - song.CreatedOn.Value;



                                if(time.TotalSeconds < 60)
                                {
                                    displayDateTime = Convert.ToInt32(time.TotalSeconds).ToString() + " Seconds ago";
                                }
                                else
                                {
                                    if(time.TotalMinutes < 60)
                                    {
                                        displayDateTime = Convert.ToInt32( time.TotalMinutes).ToString() + " Minutes ago";
                                    }
                                    else
                                    {
                                        if (time.TotalHours < 24)
                                        {
                                            displayDateTime = Convert.ToInt32( time.TotalHours).ToString() + " Hours ago";
                                        }
                                        else
                                        {
                                            if (time.TotalDays < 29)
                                            {
                                                displayDateTime = Convert.ToInt32( time.TotalDays).ToString() + " Days ago";
                                            }
                                            else
                                            {
                                                if (time.TotalDays > 28 && time.TotalDays< 32)
                                                {
                                                    displayDateTime = "1 Month ago";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        <span class="card-text text-muted ">@(string.IsNullOrEmpty(displayDateTime)? "No time":displayDateTime) </span>
                    </div>
                </div>
            </div>
        </div>
    
}



