@*@model EarTube.ViewModel.SongCommentViewModel*@
@model SongModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*@model Comment*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:#0a0a0a;">
    <h5 class="h5 text-uppercase">Song details</h5>
    <br />
    <div>
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congratulations</strong> You have added a new comment successfully. <br />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (ViewBag.IsLikeSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                You already <strong>Like</strong> this song <br />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (ViewBag.LikeSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                You <strong>Like</strong> this song <br />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }




        @* Dislike Alert *@
        @if (ViewBag.IsDislikeSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                You already <strong>Dislike</strong> this song <br />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if (ViewBag.DislikeSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                You <strong>Dislike</strong> this song <br />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row ">
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-12">
                        <img src="@(string.IsNullOrEmpty(Model.CoverImageUrl) ? "/images/unsplash.jpg": Model.CoverImageUrl)" class="img-thumbnail" style="width: 740px; height: 420px; left: 0px; top: 0px;" />
                        <h5 class="text-capitalize my-2 pl-4"><span>@Model.Title</span></h5>
                        <div class="row col-12 mt-3">
                            <div class="col-md-2 py-2 h6 ">
                                <span class=" text-muted">@Model.SongView.ToString()  Views.</span>
                            </div>
                            <div class="col-md-2 ">
                                <a class="btn btn-outline-primary p-2@((UserManager.GetUserId(User).ToString() != Model.UserId)? " ": " d-none")" href="@Model.SongUrl" target="_blank" download="EarTube-@Model.Id">
                                    Download
                                </a>
                            </div>

                            <div class="col-md-8 p-0 py-1">

                                @if (UserManager.GetUserId(User).ToString() == Model.UserId)
                                {
                                    <div class="btn-group">
                                        @*<a asp-route="editSong" asp-route-id="@Model.Id"*@
                                        @*<a asp-controller="Song" asp-action="AddOrEdit" asp-route-songId="@Model.Id"*@
                                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Song",new { songId = Model.Id},Context.Request.Scheme)','Edit Song Upload')"
                                           class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a asp-route="deleteSong" asp-route-id="@Model.Id"
                                           class="btn btn-sm btn-outline-primary"><i class="fas fa-trash"></i></a>
                                    </div>
                                }

                                <span id="buttons">
                                    <span class="text-muted p-1">
                                        <a asp-route="youtubeLikeSong" asp-route-id="@Model.Id"
                                           data-ajax="true" data-ajax-success="AjaxSuccess"
                                           class="pl-1"><i class="fas fa-thumbs-up fa-6"><span class="px-2  ">@Model.SongLike.ToString()</span></i></a>
                                    </span>

                                    <span class="text-muted p-1 ">
                                        <a asp-route="youtubeDislikeSong" asp-route-id="@Model.Id"
                                           data-ajax="true" data-ajax-success="AjaxSuccess"
                                           class="pl-1 @((UserManager.GetUserId(User).ToString() != Model.UserId)? " ": "btn disabled")"><i class="fas fa-thumbs-down fa-6"><span class="px-2">@Model.SongDisLike.ToString()</span></i></a>
                                    </span>

                                    <span class="text-muted p-1">
                                        <a asp-route="shareSong" asp-route-id="@Model.Id"
                                           class="px-1"><i class="fas fa-share fa-6"></i></a>
                                    </span>
                                </span>
                                <span id="info" class="offset-1">
                                    <small class="text-light bg-primary p-1">@(string.IsNullOrEmpty(Model.Genre) ? "Genre: NA" : Model.Genre)</small>
                                    <small class="text-light bg-primary p-1 ml-1">@(string.IsNullOrEmpty(Model.Artist) ? "NA" : Model.Artist)</small>
                                </span>
                                @*<small class="text-light bg-primary p-1">@(string.IsNullOrEmpty(Model.Like) ? "No Likes" : "Likes : " + Model.Like)</small>*@
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <div class="border-top"></div>

                <div class="row ">
                    <div class="row p-4 col-md-12 d-flex  align-items-center">
                        <div class="col-md-1 ml-1">
                            <img src="@(string.IsNullOrEmpty(Model?.User?.UserImageUrl) ? "/images/Avatar.png" : Model.User.UserImageUrl)" class="img-fluid" style="border-radius:50%; width: 36px; height: 36px;" />
                        </div>
                        <div class="col-md-9">
                            <span class="d-block text-capitalize">@(Model?.User?.FirstName + " " + Model?.User?.LastName)</span>
                            <span class="d-block text-capitalize">@((Model?.User.Subscriber <= 0) ? "No Subscriber" : Model.User.Subscriber.ToString() + " Subscribers") </span>
                        </div>
                        <div class="col-md-1">
                            @*<a
                                id="subscribeButton"
                                asp-route="subscribe" asp-route-id="@Model.Id"
                                data-ajax="true" data-ajax-success="AjaxSuccess" data-ajax-complete="AjaxComplete"
                                class="btn btn-danger subscribeButton">Subscribe</a>*@

                            <a id="subscribeButton"
                               asp-route="subscribe" asp-route-id="@Model.Id"
                               data-ajax="true" data-ajax-success="AjaxSuccess" data-ajax-complete="AjaxComplete"
                               class="btn @((ViewBag.IsSubscribe)? "btn-secondary": "btn-danger") subscribeButton">
                            @((ViewBag.IsSubscribe)? "Unsubscribe": "Subscribe")</a>
                        </div>
                    </div>
                    <div class="row col-md-10 offset-1">
                        <p class="more">@Model.Description</p>
                    </div>
                </div>

                <div class="border-top"></div>
                <div class="row  col-md-12 d-flex  align-items-center">
                    <div class="col-md-1">
                        @* Login User *@
                        @await Component.InvokeAsync("CurrentUser")
                    </div>
                    <div class="col-md-10">
                        <div class="my-3">
                            <div class="btn-group">
                                @*<a asp-controller="Comment" asp-action="AddComment" asp-route-songId="@Model.Id"*@
                                <a onclick="showInPopup('@Url.Action("AddComment","Comment",new {songId=Model.Id},Context.Request.Scheme)','Add Comment')"
                                   class="btn btn-sm btn-outline-secondary">Click to Comment <i class="fas fa-comment"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="border-top mb-4"></div>
                <div class="pl-3">
                    @await Html.PartialAsync("_AddComment", Model)
                </div>
            </div>

            <div class="col-md-4">
                @await Component.InvokeAsync("MostViewSong")
            </div>
            @*<div class="col-md-4 ">
                    <div class="border-top"></div>
                    <p class="my-4">Most Viewed Songs</p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/images/unsplash.jpg " class="img-fluid" style="width:168px; height:94px;"/>
                        </div>
                        <div class="col-md-6">
                            <p>Title</p>
                            <p>UserName</p>
                            <div id="bottom">
                                <span>Views</span>
                                <span>Views</span>
                            </div>
                        </div>
                    </div>
                </div>*@


            @*Buttons*@


        </div>

        <hr />

    </div>


</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

