@*@model EarTube.ViewModel.SongCommentViewModel*@
@model SongModel
@*@model Comment*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h5 class="display-4">Song details</h5>
        <br />
        <div class="row ">
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-12">
                        <img src="@Model.CoverImageUrl" class="img-thumbnail" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3>@Model.Title</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-primary">
                        <span class="label label-primary">By: </span>
                        <span class="monospaced">@Model.Artist</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="description">
                            @Model.Description
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-outline-primary" href="@Model..SongUrl" b>
                            Download
                        </a>
                    </div>

                    <div class="col-md-6 offset-md-2">
                        <small class="text-light bg-primary p-1">@(string.IsNullOrEmpty(Model.Genre) ? "Genre: NA" : "Genre: " + Model.Genre)</small>
                        <small class="text-light bg-primary p-1">@(string.IsNullOrEmpty(Model.Like) ? "No Likes" : "Likes : " + Model.Like)</small>
                    </div>


                </div>
                <div class="row my-1">
                    <div class="btn-group">
                        <a asp-controller="Comment" asp-action="AddComment" asp-route-songId="@Model.Id"
                           class="btn btn-sm btn-outline-secondary"><i class="fas fa-edit"></i></a>
                    </div>
                    </div>
                        <div class="row my-1">

                            <div class="col-md-10">
                                @foreach (var comment in Model.Comment)
                                {
                                    <div class="col-md-10">
                                        @*Throwing Error*@
                                        @*<partial name="_CommentPartial" model="@comment" />*@

                                        @*Throwing Errors*@
                                        @*@comment.User.FirstName*@
                                        @comment.Description
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />

                </div>
            </div>

        

        <hr />


    </div>

